<div class="container">
  <p class="product-text">Продукти</p>
</div>


<div class="product-container">
    <a routerLinkActive="active" class="product" [routerLink]="[ '/all-products']">Всі</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/philadelphia-products']">Філадельфія</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/california-products']">Каліфорнія</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/baked-products']">Запечені</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/branded-products']">Фірмові</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/poppies-products']">Макі</a>
    <a routerLinkActive="active" class="product" [routerLink]="[ '/premium-products']">Преміум</a>
  </div>